body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

.header {
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

#title {
  width: 600px;
  font-size: 28px;
  font-weight: bolder;
}

#actions {
  display: flex;
  width: 100%;
}

.actionElement {
  align-items: center;
  margin-right: 5px;
  margin-top: 7px;
}

.marker-icon-sunny {
  background-color: rgb(63, 207, 255);
  color: #fcff49;
  border: 1px solid #000;
  font-size: 20px;
}

.marker-icon-cloudy {
  background-color: rgb(63, 207, 255);
  color: #a5a5a5;
  border: 1px solid #000;
  font-size: 20px;
}

.marker-icon-rainy {
  background-color: rgb(214, 214, 214);
  color: #4f4f4f;
  border: 1px solid #000;
  font-size: 20px;
}

.marker-icon-noprediction {
  background-color: rgb(63, 207, 255);
  color: #ff2525;
  border: 1px solid #000;
  font-size: 20px;
}

#webcamurl {
  width: 800px;
}

.webcamoverview {
  display: flex;
}

#webcamlist {
  width: 600px;
  height: 700px;
  overflow-y: scroll;
}

.webcamlist-item {
  display: flex;
  flex-direction: row;
  margin-bottom: 10px;
}

.webcamlist-item-img {
  
}

.webcamlist-item-img > img {
  max-width: 100px;
}

.webcamlist-item-data {
  display: flex;
  flex-direction: column;
  margin: 5px;
}

.webcamlist-item-data-title {
  font-size: 14px;
  font-weight: bold;
}

.webcamlist-item-data-prediction {
  margin-top: 2px;
}

.webcamlist-item-data-scrapelink {
  margin-top: 4px;
  font-size: 12px;
}

.prediction-label {
  border-radius: 4px;
  padding: 4px;
  font-size: 10px;
  font-weight: bold;
}

.prediction-label-noprediction {
  background-color: #ff2525;
  color: #fff;
}

.prediction-label-cloudy {
  background-color: #e4e4e4;
  color: rgb(89, 89, 89);
}

.prediction-label-rainy {
  background-color: #a5a5a5;
  color: #fff;
}

.prediction-label-sunny {
  background-color: rgb(63, 207, 255);
  color: #fcff49;
}

#webcammap {
  width: 100%;
  height: 700px;
}
