
.content-right {

}

.content-left {
 
}

.controls {
  margin-bottom: 20px;
}

#webcammap {
  margin: 20px 0px;
}

#webcamlist {
  width: auto;
  height: auto;
  overflow-y: auto;
}

#webcamlist-controls {
  margin-bottom: 20px;
}

.webcamlist-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.webcamlist-item-header {

}

.webcamlist-item-content {

}

.webcamlist-item-select {
  float: left;
}

.webcamlist-item-title {
  float: left;
  margin: 0 2px;
  font-weight: bold;
}

.webcamlist-item-scrapelink {
  
}

.webcamlist-item-img {
  
}

.webcamlist-item-img > img {
  
}

.webcamlist-item-playerimages {
  display: flex;
  flex-direction: row;
}

.webcam-playerimage > img {
  max-width: 100px;
}

.webcamlist-item-data-title {
  font-size: 14px;
  font-weight: bold;
}

.webcamlist-item-data-prediction {
 
}



img.huechange { filter: hue-rotate(120deg); }