extends layout

block append head
  link(rel='stylesheet', href='/javascripts/leaflet/leaflet.css')
  link(rel='stylesheet', href='/stylesheets/fontawesome/css/all.css')
  script(src='/javascripts/leaflet/leaflet.js')

block content
  .header
    block content
    #title
      span= title
    #actions
      block actions
        .actionElement
          block btnActionScrape
            button(class='btnActionScrape', onclick='initWebcams()') Scrape webcams
        .actionElement
          block btnGeocode
            button(class='btnActionGeocodeAllWebcams', onclick='geocodeAllWebcams()') Geocode all webcams
        .actionElement
          block chkUseGeocodeService
            input(type="checkbox",id="chkUseGeocodeService",name="chkUseGeocodeService",value="useGeocodeService")
            label(for="chkUseGeocodeService") Use gecode service
        .actionElement
          block btnPredictAll
            button(class='btnActionPredictAllWebcams', onclick='predictAllWebcams()') Predict all webcams
  .webcamoverview
    block content
    #webcamlist
      block webcamlist
        p nothing
    #webcammap
      block webcammap(class='webcammap')
          p nothing

  block scripts
    script(src='/javascripts/webcammap.js')