extends layout

block content
  h1= title
  form(action= downloadurl method='POST')
    label(for='datetimefrom') Datetime from:
    |
    |
    input(type='datetime-local' id='datetimefrom' name='datetimefrom')
    |
    |
    label(for='datetimeto') Datetime to:
    |
    |
    input(type='datetime-local' id='datetimeto' name='datetimeto' value=datetimeto max=datetimeto)
    |
    |
    label(for='timeinterval') Time interval in hours:
    |
    |
    input(type='number' id='timeinterval' name='timeinterval' value='24')
    br
    br
    label(for='webcamid') Webcam ID:
    |
    |
    input(type='text' name='webcamid' id='webcamid', value=webcamid)
    br
    br
    label(for='webcamurl') Webcam url:
    |
    |
    input(type='text' name='webcamurl' id='webcamurl' value='https://www.foto-webcam.eu/webcam/%webcamid/%YYYY/%mm/%dd/%HH%MM_la.jpg')
    |
    |
    button(type='submit') Download images from webcam
    br
    br
    a(href='./map') Webcam map
